.btn-primary{
    background: linear-gradient(45deg, red, blue);
    border-radius: 30px;
}
.btn-danger{
    background: linear-gradient(45deg, grey, violet);
    border-radius: 30px;
}
.btn-success{
    background:  linear-gradient(45deg, yellow, orange);
    border-radius: 45px;
}
.my-custom-row{
    background-color: aqua;
    height: 400px;
}
